@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: "Bevan", cursive;
  background-color: #f4f4f4;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

header {
  background-image: url(../images/banner-photo.png);
  padding-bottom: 6em;
}

.banner {
  color: white;
  overflow: hidden;
  position: relative;
  max-height: 27em;
}
.banner-content {
/*  position: absolute;
  left: 18em;
  bottom: 6em; */
}

p {
  text-align: center;
  font-family: "Roboto", sans-serif;
}


body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: white;
}

.nav {
  text-align: center;
  left: -12rem;
  bottom: 0;
}

li {
  display: block;
  color: white;
  display: inline-block;
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: red;
  margin: 0;
  border-radius: 2em;
}

.nav a:hover {
  background-color: red;
  color: white;
  display: inline-block;
}

ul {
  top: 7em;
}
.logo {
  overflow: hidden;
  position: relative;
  width: 4%;
}
.logo-content {
  position: absolute;
  left: 17rem;
  bottom: -20rem;
}

.topfont {
  color: white;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.bannert {
  position: absolute;
  left: 24em;
  bottom: 0;
}

.explorefonts {
  display: block;
}

.btn {
  background-color: red;
  border-color: red;
  color: white;
  border-radius: 2rem;
  padding: .5em;
}

.btn a:hover {
  background-color: red;
  color: white;
  display: inline-block;
}

.Content {
  background-color: #2A2C34;
  text-align: center;
}

.explorefonts {
  display: block;
}

.Pricing {
  background-color: #2A2C34;
  padding-top: 2em;
  padding-left: 13em;
  padding-right: 13em;
  padding-bottom: 2em;
  color: white;
  text-align: center;
}
