@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: "Bevan", cursive;
  background-color: #f4f4f4;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  color: white;
  overflow: hidden;
  position: relative;
  max-height: 27em;
}
.banner-content {
  position: absolute;
  left: 18em;
  bottom: 6em;
}

p {
  text-align: center;
  font-family: "Roboto", sans-serif;
}


body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: white;
}

.nav {
  text-align: center;
}

li {
  display: inline-block;
  text-align: left;
}

.nav a {
  text-decoration: none;
  color: red;
  margin: 0;
  border-radius: 3px;
}

.nav a:hover {
  background-color: red;
  color: white;
  display: inline-block;
}

ul {
  top: 7em;
}
.logo {
  overflow: hidden;
  position: relative;
  width: 9%;
}
.logo-content {
  position: absolute;
  left: 17rem;
  bottom: -20rem;
}

.topfont {
  color: white;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.bannert {
  position: absolute;
  left: 24em;
  bottom: 0;
}

.explorefonts {
  display: block;
}
